<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title><%= scriptAppName %></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
	</head>
	<body ng-app="<%= scriptAppName %>">
		<div class="page-wrapper">
			<spinner-overlay></spinner-overlay>

			<ui-view></ui-view>

			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="container-fluid">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>

						<a class="navbar-brand" href="/" tabindex="-1"><%= scriptAppName %></a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="top-navbar">
						<ul class="nav navbar-nav">
							<li class="active"><a href="" tabindex="-1">Pricing Features</a></li>
							<li><a href="" tabindex="-1">Service Features</a></li>
							<li><a href="" tabindex="-1">Charging Products</a></li>
							<li><a href="" tabindex="-1">Rules Library</a></li>
						</ul>

						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="" class="dropdown-toggle" data-toggle="dropdown" tabindex="-1">
									User <span class="caret"></span>
								</a>

								<ul class="dropdown-menu" role="menu">
									<li role="menuitem"><a href="" tabindex="-1">Action</a></li>
									<li role="menuitem"><a href="" tabindex="-1">Another action</a></li>
									<li role="menuitem"><a href="" tabindex="-1">Something else here</a></li>
									<li role="menuitem" class="divider"></li>
									<li role="menuitem"><a href="" tabindex="-1">Separated link</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container-fluid -->
			</nav>

			<div class="navbar navbar-default statusbar affix-top">
				<div class="container-fluid">
					<h1 class="page-header" route-label></h1>
				</div>
			</div>


			<div class="container-fluid container-main wrap">
				<div ng-include="'views/main.tpl.html'" ng-controller="MainCtrl"></div>
			</div>

			<!-- /page wrapper -->
		</div>


		<footer class="navbar navbar-default navbar-static-bottom footer">
			<div class="container-fluid">
				<ul class="navbar-header">
					<li><a href="" tabindex="-1">Help</a></li>
					<li><a href="" tabindex="-1">Support</a></li>
					<li><a href="" tabindex="-1">Feedback</a></li>
				</ul>
			</div>
		</footer>

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<!-- endbower -->
		<!-- endbuild -->
	</body>
</html>
